@use "config";

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

h2 {
  margin-top: 0rem;
  font-size: 1.5rem;
  font-weight: config.$default-weight;
}

html,
body {
  word-break: break-word;
  padding: 0;
  margin: 0;
  font-family: "Roboto";
  font-size: (18/16) * 1rem;
  background: config.$cream;
}
