@use "config";

.container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.expense {
  @include config.card;
  justify-content: space-around;
  background: config.$soft-red;
}

.history {
  @include config.card;
  flex-direction: column;
  background: config.$very-pale-orange;
  align-items: center;

  .graph {
    display: flex;
    .data {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-right: 0.5rem;
      &__collumn {
        width: 100%;
        background: blue;
        transform: rotate(180deg);
      }
      &__day {

      }
    }
  }

  &__month {
    display: flex;
  justify-content: space-around;
  }
}
