@use "config";

.container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.expense {
  @include config.card;
  justify-content: space-around;
  background: config.$soft-red;
}

.history {
  @include config.card;
  flex-direction: column;
  background: config.$very-pale-orange;

  &__month {
    display: flex;
  justify-content: space-around;
  }
}
