@use "config";

.container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.expense {
  @include config.card;
  justify-content: space-around;
  background: config.$soft-red;
  margin-bottom: 1em;
  color: config.$very-pale-orange;
  .balance {
    font-weight: config.$heavier-weight;
  }
}

.history {
  @include config.card;
  flex-direction: column;
  background: config.$very-pale-orange;
  align-items: center;

  .graph {
   display: grid;
   grid-template-columns: repeat(7,1fr);
   text-align: center;
  border-bottom: 1px solid config.$cream;
    .data {
      display: flex;
      flex-direction: column;
      justify-content: end;
      margin-right: 0.5rem;
      &__collumn {
        border-radius: 2px;
        background: config.$soft-red;
      }
      &__bigest {
        background: config.$cyan;
      }
      p {
        color: config.$medium_brown;
      }
    }
  }

  &__month {
    display: flex;
    &__last {
    text-align: end;
    }
  }
}

.month__text {

  color: config.$medium-brown;
   
}
